.Skills{
  width: 100%;
  margin-top: 50px;
  display: flex;
   justify-content: center;
background-color: #fbfafb;
}


.skillsWrapper{
  width: 100%;
  max-width: 968px;
  min-width: 375px;
 
}

.skillsWrapper > h1{
   font-size: 3.5rem;
   font-weight: 400;
   text-align: left;
   color: #393739;
}


.mySkills{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    padding: 2% 0px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 2s;
}

.SkillsHeading {
/* border: 1px solid rebeccapurple; */
font-weight: 400;
font-size: 1.3rem;
}

.mySkills > div {
    font-size: 4rem;
    color: #393739;
    background-color: #fff;

}

.mySkillsLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow:rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 0px ;
    gap: 1.3rem;
    border-radius: 10px;
}

.mySkillsLogo > div {
    font-size: 2rem;
    font-weight: 400;
    color: #393739;
}

.mySkills > div:hover{
    background-color:#393739;
    color: #fbfafb;
    transition: 2s;
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.049),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.058),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.061),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.061),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.063),
  100px 100px 80px rgba(0, 0, 0, 0.07)
}








@media screen and (max-width:830px) {
    .mySkills{
        grid-template-columns: repeat(4 , 1fr);
        gap: 15px;
    }

    .mySkills > div {
        font-size: 3rem;
    }


    .SkillsHeading > h6{
        font-size: 1.1rem;
    }
}


@media screen and (max-width:540px) {
    .mySkills{
        grid-template-columns: repeat(3 , 1fr);
        gap: 10px;
        padding-inline: 5px;
        /* border: 1px solid red; */
    }

    .mySkills > div {
        font-size: 2rem;
        padding: 10px;
    }

    .SkillsHeading > h6{
        font-size: 1.1rem;
    }

    
.skillsWrapper > h1{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 15px;
    font-weight: 400;
    text-align: left;
    color: #393739;
 }
 

}

@media screen and (max-width:425px) {
    .mySkills{
        grid-template-columns: repeat(2,1fr);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        /* border: 1px solid red; */

    }


    .skillsWrapper > h1{
        font-size: 3rem;
    }

    .mySkills > div {
        font-size: 3.2rem;
    }

}